<template lang="pug">
  .container
    .form-row(id="datosConductor")
      .col.pb-2
        select.form-control.selectpicker(name="detalle",id="detalle",v-model="$store.state.datosCotizacion.detalle" ,aria-label="Detalle", @change="recotizarCambioDetalle()")
          option(value="", selected) Detalle del Vehiculo
          option(v-for="detalleAs in $store.state.datosCotizacion.detallesPorAseguradora", :value="detalleAs") {{detalleAs.text}}

        small.form-text.text-danger(v-show="errors.has('tipoPersona')")
          i.fa.fa-exclamation-triangle {{ errors.first('tipoPersona') }}
</template>
<script>
import cotizacionService from '~/plugins/cotizacion'
import Swal from 'sweetalert2'
export default {
  data() {
    return {
      mesagge: ''
    }
  },
  created: function() {},
  mounted() {},
  methods: {
    recotizarCambioDetalle: function() {
      this.$store.state.config.isLoading = true
      this.$store.state.config.alertErrors.error.thisErrors = false;
      this.$store.state.config.alertErrors.errorSolicitud.thisErrors = false;

      cotizacionService
        .search(
          this.$store.state.emision.Aseguradora,
          this.$store.state.datosCotizacion.detalle.id,
          this.$store.state.emision.Cliente.Direccion.CodPostal,
          this.$store.state.datosCotizacion.detalle.text,
          this.$store.state.emision.Descuento,
          this.$store.state.emision.Cliente.Edad,
          this.$store.state.emision.Cliente.FechaNacimiento,
          this.$store.state.emision.Cliente.Genero,
          this.$store.state.emision.Vehiculo.Marca,
          this.$store.state.emision.Vehiculo.Modelo,
          'cotizacion',
          'AMPLIA',
          'PARTICULAR'
        )
        .then(resp => {
            debugger;
          if (typeof resp != "string") {
            if (Object.keys(resp.Cotizacion).includes('PrimaTotal') && resp.Cotizacion.PrimaTotal != null) {
              if (resp.Coberturas.length > 0) {
                this.$store.state.cotizacion = resp;
                this.$store.state.emision.Coberturas = resp.Coberturas;
                this.$store.state.emision.Cotizacion = resp.Cotizacion;
                this.$store.state.emision.Vehiculo = resp.Vehiculo;
                this.$store.state.datosCotizacion.precioCotizacion = this.$store.state.cotizacion.Cotizacion.PrimaTotal;
                this.$store.state.emision.Vehiculo.Marca = this.$store.state.cotizacion.Vehiculo.Marca;
                this.$store.state.emision.Vehiculo.Modelo = this.$store.state.cotizacion.Vehiculo.Modelo;
                this.$store.state.emision.Vehiculo.Descripcion = this.$store.state.cotizacion.Vehiculo.Descripcion;
                this.$store.state.emision.Cotizacion.PrimaTotal = this.$store.state.cotizacion.Cotizacion.PrimaTotal;
                this.$store.state.config.alertErrors.errorSolicitud.thisErrors = false;
                this.$store.state.datosCotizacion.PrimaTotal = this.$store.state.cotizacion.Cotizacion.PrimaTotal;
                this.$store.state.config.isLoading = false
              }else{
                console.log("Esta cotizacion no trajo coberturas D:");
              }
            }else{
                this.$store.state.config.isLoading = false
                Swal.fire({
                    type: 'error',
                    title: 'Estamos presentando problemas tecnicos.',
                    text: 'Por favor intente cotizar nuevamente!',
                    footer: '<a href="https://ahorraseguros.mx/">Cotizar nuevamente?</a>'
                })
            }
          }else{
              this.$store.state.config.isLoading = false
              Swal.fire({
                  type: 'error',
                  title: 'Estamos presentando problemas tecnicos.',
                  text: 'Por favor intente cotizar nuevamente con los datos de su vehiculo!',
                  footer: '<a href="https://ahorraseguros.mx/">Cotizar nuevamente?</a>'
              })
          }

        })
    }
  }
}
</script>
