<template>
    <div class="vld-parent" style="  float: right; position:relative;left: -250%;">
        <loading :active.sync="this.$store.state.config.isLoading"
                 :height="255"
                 :width="110"
                 :color="'#007BFF'"
                 :background-color="'#FFFFFF'"
                 :is-full-page="this.$store.state.config.fullPage"></loading>
    </div>
</template>
<script>
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    // Import component
    import Loading from 'vue-loading-overlay';


    export default {
        components: {
            Loading
        }
    }
</script>