<template lang="pug">
  .row.setup-content-2(id="step-3")
    .col-md-12
      h4.pl-0.mt-4.mb-1
        .text-secondary Datos del Vehículo
      span.mb-4.text-secondary Comprar póliza de seguro de auto
      .form-row.mt-4(id="datosVehiculo")
        .col-12.col-sm-3.pb-2
          input.form-control.inputlleno(name="Marca", id="Marca", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Marca", :class="{'input': true, 'is-invalid': errors.has('Marca') }", aria-label="Marca", maxlength="50", type="text", placeholder="Marca", disabled)
          small.form-text.text-danger(v-show="errors.has('Marca')")
            i.fa.fa-exclamation-triangle {{ errors.first('Marca') }}
        .col-12.col-sm-2.pb-2
          input.form-control.inputlleno(name="Modelo", id="Modelo", v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Modelo", :class="{'input': true, 'is-invalid': errors.has('Modelo') }", aria-label="Modelo", maxlength="50", type="text", placeholder="Modelo", disabled)
          small.form-text.text-danger(v-show="errors.has('Modelo')")
            i.fa.fa-exclamation-triangle {{ errors.first('Modelo') }}
        .col-12.col-sm-7.pb-2
          input.form-control.inputlleno(name="Descripcion", id="Descripcion",  v-validate="{ required: true }", v-model="$store.state.emision.Vehiculo.Descripcion", :class="{'input': true, 'is-invalid': errors.has('Descripcion') }", aria-label="Descripción", maxlength="50", type="text", placeholder="Descripción", disabled)
          small.form-text.text-danger(v-show="errors.has('Descripcion')")
            i.fa.fa-exclamation-triangle {{ errors.first('Descripcion') }}
        .w-100
        .col.pb-2
          input.form-control(:value="$store.state.emision.Vehiculo.NoSerie.toUpperCase()", @input="$store.state.emision.Vehiculo.NoSerie =  $event.target.value.toUpperCase()", name="NoSerie", id="NoSerie", v-validate="{ required: true, max:20, min:15}", :class="{'input': true, 'is-invalid': errors.has('NoSerie') }", aria-label="No. Serie", maxlength="20", type="text", placeholder="No. Serie", required)
          small.form-text.text-danger(v-show="errors.has('NoSerie')")
            i.fa.fa-exclamation-triangle {{ errors.first('NoSerie') }}
        .col-12.col-sm-6.pb-2
         input.form-control(:value="$store.state.emision.Vehiculo.NoMotor.toUpperCase()", @input="$store.state.emision.Vehiculo.NoMotor =  $event.target.value.toUpperCase()", name="NoMotor", id="NoMotor", v-validate="{ required: true }", :class="{'input': true, 'is-invalid': errors.has('NoMotor') }", aria-label="No. motor", maxlength="20", type="text", placeholder="No. motor", required)
         small.form-text.text-danger(v-show="errors.has('NoMotor')")
          i.fa.fa-exclamation-triangle {{ errors.first('NoMotor') }}
        .w-100
        .col-12.col-sm-6.pb-2
          input.form-control(:value="$store.state.emision.Vehiculo.NoPlacas.toUpperCase()", @input="$store.state.emision.Vehiculo.NoPlacas =  $event.target.value.toUpperCase()", name="NoPlacas", id="NoPlacas", v-validate="{ required: true, max:10, min:4}", :class="{'input': true, 'is-invalid': errors.has('NoPlacas') }", aria-label="Placas", maxlength="10", type="text", placeholder="Placas", required)
          small.form-text.text-danger(v-show="errors.has('NoPlacas')")
            i.fa.fa-exclamation-triangle {{ errors.first('NoPlacas') }}
        .col-12.col-sm-4.pb-2(v-if="this.$store.state.emision.Aseguradora=='ABA' || this.$store.state.emision.Aseguradora=='ABA2'")
         select.form-control.selectpicker(name="MedioPago", id="MedioPago", v-validate="'required'", v-model="$store.state.emision.Pago.MedioPago", :class="{'input': true, 'is-invalid': errors.has('MedioPago') }", aria-label="Tipo tarjeta", required)
          option(value="") Metodo de Pago
          option(value="DEBITO") DEBITO
          option(value="CREDITO") CREDITO
         small.form-text.text-danger(v-show="errors.has('MedioPago')")
          i.fa.fa-exclamation-triangle {{ errors.first('MedioPago') }}
    .col-12    
      button.btn.btn-light.float-left.btn-blocky.text-muted(type="button", @click="backStep('step_dos')")
        i.fa.fa-chevron-left &nbsp;
          | Anterior
      button.btn.btn-success.float-right.btn-blocky(type="button", @click="nextStep('step_cuatro')", v-if="!this.$store.state.aseguradoras[this.$store.state.cotizacion.Aseguradora].useTerminalVirtual") Siguiente&nbsp;
        i.fa.fa-chevron-right
      button.btn.btn-success.float-right.btn-blocky(type="button", @click="emitirConTerminal()", v-if="this.$store.state.aseguradoras[this.$store.state.cotizacion.Aseguradora].useTerminalVirtual") Emitir
</template>
<script>
    import emitirService from '~/plugins/emision'
    import wsEmisionPeticion from '~/plugins/ws-save-emision-peticion'
    import wsEmisionRespuesta from '~/plugins/ws-save-emision-respuesta'
    import wsupdateSolicitud from '~/plugins/ws-update-data-solicitud'
    import moment from 'moment';
    import Swal from 'sweetalert2'

    export default {
  methods: {
    backStep: function(step) {
      for (var stepInArray in this.$store.state.config.steps) {
        if (step == stepInArray) {
          this.$store.state.config.steps[stepInArray] = true
        } else {
          this.$store.state.config.steps[stepInArray] = false
        }
      }
    },
    nextStep: function(step) {
      this.$validator.validateAll().then(result => {
        if (result) {
          for (var stepInArray in this.$store.state.config.steps) {
            if (step == stepInArray) {
              this.$store.state.config.steps[stepInArray] = true
            } else {
              this.$store.state.config.steps[stepInArray] = false
            }
          }
        }
      })
    },
    emitirConTerminal: function(step) {
      this.$validator.validateAll().then(result => {
          this.$store.state.config.isLoading=true
          var jsonEmisionPetision = {
              idSolicitud: this.$store.state.datosCotizacion.idSolicitud,
              idAseguradora: this.$store.state.datosCotizacion.idAseguradora,
              peticion: JSON.stringify(this.$store.state.emision),
              prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
              respuesta:''
          };

          wsEmisionPeticion.saveEmisionPeticion(jsonEmisionPetision)
              .then(respep => {



              switch (this.$store.state.emision.Aseguradora){
                  case "ABA": this.$store.state.emision.urlRedireccion='https://poliza.ahorraseguros.mx/thankyouTerminal/?idSolicitud='+this.$store.state.datosCotizacion.idSolicitud;
                      break;
              }

              /*SE REALIZA LA PETICION DE LA EMICION*/
              emitirService.emitir(JSON.stringify(this.$store.state.emision))
                  .then(resp => {

                      this.$store.state.respuestaEmision = resp

                      /*SE VALIDA LA EMISION*/
                      if(this.$store.state.respuestaEmision.Emision.Resultado == 'true' || this.$store.state.respuestaEmision.Emision.Resultado == true || this.$store.state.respuestaEmision.Emision.Resultado == 'True' && this.$store.state.respuestaEmision.Emision.Terminal != null){

                              /*SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE*/
                              var jsonEmisionRespuesta = {
                                  prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                  idt: this.$store.state.respuestaEmision.Emision.IDCotizacion,
                                  respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                              };

                              wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                  .then(reser => {
                                      console.log("Respuesta Emision Actualizada...");
                                  })

                              /*SE ACTUALIZAN LOS DATOS DE LA SOLICITUD*/
                              var jsonDataSolicitudUpdate = {
                                  nombre: this.$store.state.emision.Cliente.Nombre,
                                  apellidoP: this.$store.state.emision.Cliente.ApellidoPat,
                                  apellidoM: this.$store.state.emision.Cliente.ApellidoMat,
                                  telefono: this.$store.state.emision.Cliente.Telefono,
                                  fechaNacimiento: moment(this.$store.state.emision.Cliente.FechaNacimiento,'DD/MM/YYYY').format('YYYY-MM-DD'),
                                  telefonoAS: this.$store.state.aseguradoras[this.$store.state.emision.Aseguradora].DID,
                                  cp: this.$store.state.emision.Cliente.Direccion.CodPostal,
                                  grupoCallback: this.$store.state.aseguradoras[this.$store.state.emision.Aseguradora].callback,
                                  idPagina:this.$store.state.datosCotizacion.dataSolicitud.idPagina,
                                  sexo: this.$store.state.datosCotizacion.dataSolicitud.sexo,
                                  detalle: this.$store.state.emision.Vehiculo.Descripcion
                              };
                              wsupdateSolicitud.updateSolicitud(jsonDataSolicitudUpdate, this.$store.state.datosCotizacion.idSolicitud)
                                  .then(respdp => {
                                      console.log("Solicitud Actualizada...");
                                  })
                              this.$store.state.config.isLoading=false
                              window.location = this.$store.state.respuestaEmision.Emision.Terminal

                      }else{

                            if(this.$store.state.respuestaEmision.CodigoError != null){
                                  if(this.$store.state.respuestaEmision.CodigoError.length != 0){
                                      var band = this.$store.state.respuestaEmision.CodigoError.indexOf("RFC no Valido")
                                      if(band){
                                          /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                          this.$store.state.config.isLoading = false
                                          var jsonEmisionRespuesta = {
                                              prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                              respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                          };
                                          wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                              .then(reser => {
                                                  this.$store.state.config.clickButtonEmision = true
                                              })

                                          Swal.fire({
                                              type: 'error',
                                              title: 'Oops...',
                                              text: 'Favor de verificar su RFC, es necesario para poder continuar con el proceso.!',
                                              footer: ''
                                          })
                                      }


                                      var band = this.$store.state.respuestaEmision.CodigoError.indexOf("Serie Amparada en Poliza Vigente")
                                      if(band){
                                          /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                          this.$store.state.config.isLoading = false
                                          var jsonEmisionRespuesta = {
                                              prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                              respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                          };
                                          wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                              .then(reser => {
                                                  this.$store.state.config.clickButtonEmision = true
                                              })

                                          Swal.fire({
                                              type: 'error',
                                              title: 'Oops...',
                                              text: 'Serie Amparada en Poliza Vigente, el cliente registrado ya cuenta con un numero de poliza vigente. Su peticion esta siendo validada y analizada por nuestro grupo de expertos.!',
                                              footer: ''
                                          })
                                      }


                                      var band = this.$store.state.respuestaEmision.CodigoError.indexOf("Dato invalido")
                                      if(band){
                                          /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                          this.$store.state.config.isLoading = false
                                          var jsonEmisionRespuesta = {
                                              prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                              respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                          };
                                          wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                              .then(reser => {
                                                  this.$store.state.config.clickButtonEmision = true
                                              })

                                          Swal.fire({
                                              type: 'error',
                                              title: 'Oops...',
                                              text: 'Dato invalido, alguno de los datos ingresados no corresponden con los datos de compra. Favor de verificar sus datos personales con los datos de compra.!',
                                              footer: ''
                                          })
                                      }


                                      var band = this.$store.state.respuestaEmision.CodigoError.indexOf("ya ha sido emitida")
                                      if(band){
                                          /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                                          this.$store.state.config.isLoading = false
                                          var jsonEmisionRespuesta = {
                                              prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                                              respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                                          };
                                          wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                                              .then(reser => {
                                                  this.$store.state.config.clickButtonEmision = true
                                              })

                                          Swal.fire({
                                              type: 'error',
                                              title: 'Oops...',
                                              text: 'La Cotización y version ya ha sido emitida. Tiene una poliza asociada.',
                                              footer: 'Favor de validar los datos de su vehiculo.'
                                          })
                                      }


                                  }
                            }

                      }




                  }).catch(error =>{

                      console.error("Error al emitir... :P ")
                      console.error(error)

                      Swal.fire({
                          type: 'error',
                          title: 'Oops...',
                          text: error,
                          footer: '<strong>Intentelo mas tarde.</strong>'
                      })
                      this.$store.state.config.clickButtonEmision = true

                      /*++++++++++++++++SE INSERTA LA RESPUESTA DE LA EMISION EN LA BASE++++++++++*/
                      var jsonEmisionRespuesta = {
                          prima: this.$store.state.cotizacion.Cotizacion.PrimaTotal,
                          respuesta: JSON.stringify(this.$store.state.respuestaEmision)
                      };

                      wsEmisionRespuesta.saveEmisionRespuesta(jsonEmisionRespuesta, respep.id)
                          .then(reser => {
                              this.$store.state.config.clickButtonEmision = true
                          })
                      wsupdateSolicitudEjecutivo.updateEjecutivoSolicitud(this.$store.state.datosCotizacion.idSolicitud, 344)

                      /*SE ENVIA UN SMS NOTIDICANDO DE LOS PROBLEMAS*/
                      var jsonSendSMS = {
                          mensaje: "La PLATAFORMA DE EMISION Y COBRANZA ESTA PRESENTANDO PROBLEMAS...",
                          destino: "5529621000"
                      };
                      /*
                      wsSendSMS.sendSms(jsonSendSMS)
                          .then(reser => {  })*/

              })

          })

      })
    }
  }
}
</script>
 <style>
/* .form-control[readonly],.form-control:disabled,
 .inputlleno{border:1px solid #8eed8e;background-color:#d6fbd6;background:#d6fbd6;opacity:0.45;}
 .form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);}*/
</style>
