<template lang="pug">
  .row.setup-content-2.first(id="step-1")
    .col-md-12
      h4.pl-0.mt-4.mb-1
        .text-secondary Datos del conductor 
      span.mb-4.text-secondary Comprar póliza de seguro de auto
      .form-row.mt-4(id="datosConductor")
        .col-12.col-sm-4.pb-2
          input.form-control.inputlleno.icontick(:value="$store.state.emision.Cliente.Nombre.toUpperCase()", @input="$store.state.emision.Cliente.Nombre =  $event.target.value.toUpperCase()", @change="updateNombreCliente", name="Nombre", id="Nombre", v-validate="{ required: true, alpha_spaces:true }", aria-label="Nombre del cliente",:class="{'input': true, 'is-invalid': errors.has('Nombre') }",maxlength="25",type="text",placeholder="Nombre(s)")
          small.form-text.text-danger(v-show="errors.has('Nombre')")
            i.fa.fa-exclamation-triangle {{ errors.first('Nombre') }}
        .col-12.col-sm-4.pb-2
          input.form-control.inputlleno.icontick(:value="$store.state.emision.Cliente.ApellidoPat.toUpperCase()", @input="$store.state.emision.Cliente.ApellidoPat =  $event.target.value.toUpperCase()", @change="updateApellidoPatCliente", name="ApellidoPat", id="ApellidoPat", v-validate="{ required: true, alpha_spaces:true }", aria-label="Apellido paterno", :class="{'input': true, 'is-invalid': errors.has('ApellidoPat') }", maxlength="25", type="text", placeholder="Apellido paterno")
          small.form-text.text-danger(v-show="errors.has('ApellidoPat')")
            i.fa.fa-exclamation-triangle {{ errors.first('ApellidoPat') }}
        .col-12.col-sm-4.pb-2
          input.form-control.inputlleno.icontick(:value="$store.state.emision.Cliente.ApellidoMat.toUpperCase()", @input="$store.state.emision.Cliente.ApellidoMat =  $event.target.value.toUpperCase()", @change="updateApellidoMatCliente", name="ApellidoMat", id="ApellidoMat", v-validate="{ required: true, alpha_spaces:true }", aria-label="Apellido materno", :class="{'input': true, 'is-invalid': errors.has('ApellidoMat') }", maxlength="25", type="text", placeholder="Apellido materno")
          small.form-text.text-danger(v-show="errors.has('ApellidoMat')")
            i.fa.fa-exclamation-triangle {{ errors.first('ApellidoMat') }}
        .w-100
        .col-12.col-sm-3.pb-2
          input.form-control.inputlleno.icontick(name="Genero", id="Genero", v-validate="{ required: true, alpha_spaces:true }", v-model="$store.state.emision.Cliente.Genero", aria-label="Tipo de persona", :class="{'input': true, 'is-invalid': errors.has('Genero') }", maxlength="25", type="text", placeholder="Tipo de persona", readonly)
          small.form-text.text-danger(v-show="errors.has('Genero')")
            i.fa.fa-exclamation-triangle {{ errors.first('Genero') }}
        .col-12.col-sm-3.pb-2.text-center(v-b-popover.hover="'Seleccionar un dia.'", title="Fecha Nacimiento")
          select.form-control.selectpicker(@change="onChangeDia", name="DiaFechaNacimiento", v-validate="'required'", v-model="$store.state.config.DiaFechaNacimiento", :class="{'input': true, 'is-invalid': errors.has('DiaFechaNacimiento') }", aria-label="Dia", placeholder="Dia",required)
            option(value="") Dia
            option(v-for="e in dias", :value="e" ) {{e}}
          small.form-text.text-danger(v-show="errors.has('DiaFechaNacimiento')")
            i.fa.fa-exclamation-triangle {{ errors.first('DiaFechaNacimiento') }}
        .col-12.col-sm-3.pb-2.text-center(v-b-popover.hover="'Seleccionar un mes.'", title="Fecha Nacimiento")
          select.form-control.selectpicker(@change="onChangeMes", name="MesFechaNacimiento", v-validate="'required'", v-model="$store.state.config.MesFechaNacimiento", :class="{'input': true, 'is-invalid': errors.has('MesFechaNacimiento') }", aria-label="Mes", placeholder="Mes", required)
            option(value="") Mes
            option(v-for="e in meses", :value="e" ) {{e}}
          small.form-text.text-danger(v-show="errors.has('MesFechaNacimiento')")
            i.fa.fa-exclamation-triangle {{ errors.first('MesFechaNacimiento') }}

        .col-12.col-sm-3.pb-2.text-center(v-b-popover.hover="'Validar que este dato sea correcto.'", title="Fecha Nacimiento(año)")
          select.form-control.selectpicker(@change="onChangeAnio", name="AnioFechaNacimiento", id="AnioFechaNacimiento", v-validate="'required'", v-model="$store.state.config.AnioFechaNacimiento", :class="{'input': true, 'is-invalid': errors.has('AnioFechaNacimiento') }", aria-label="AnioFechaNacimiento", required)
             option(:value="this.$store.state.config.AnioFechaNacimiento-1") {{this.$store.state.config.AnioFechaNacimiento-1}}
             option(:value="this.$store.state.config.AnioFechaNacimiento") {{this.$store.state.config.AnioFechaNacimiento}}
             option(:value="this.$store.state.config.AnioFechaNacimiento+1") {{this.$store.state.config.AnioFechaNacimiento+1}}
          small.form-text.text-danger(v-show="errors.has('AnioFechaNacimiento')")
            i.fa.fa-exclamation-triangle {{ errors.first('AnioFechaNacimiento') }}
        .w-100
        .col-12.col-sm-4.pb-2(v-b-popover.hover="'Debe incluir Homoclave.'", title="RFC")
          input.form-control(onkeyup="this.value = this.value.toUpperCase();", name="RFC", id="RFC", v-validate="{ required: true, max:13, min:13 }", v-model="$store.state.emision.Cliente.RFC", :class="{'input': true, 'is-invalid': errors.has('RFC') }", maxlength="13", aria-label="RFC", type="text", placeholder="RFC", required)
          small.form-text.text-danger(v-show="errors.has('RFC')")
            i.fa.fa-exclamation-triangle {{ errors.first('RFC') }}
        .col-12.col-sm-4.pb-2
          input.form-control.inputlleno.icontick(name="Email", id="Email", v-validate="'required|email'", v-model="$store.state.emision.Cliente.Email", aria-label="Correo electrónico", :class="{'input': true, 'is-invalid': errors.has('Email') }", maxlength="100", type="Email", placeholder="Correo electrónico")
          small.form-text.text-danger(v-show="errors.has('Email')")
            i.fa.fa-exclamation-triangle {{ errors.first('Email') }}
        .col-12.col-sm-4.pb-2
          input.form-control.inputlleno.icontick(name="Telefono", id="Telefono", v-validate="{ required: true, numeric:true, max:10, min:10}", , v-model="$store.state.emision.Cliente.Telefono", aria-label="Teléfono", :class="{'input': true, 'is-invalid': errors.has('Telefono') }", maxlength="10", type="text", placeholder="Teléfono")
          small.form-text.text-danger(v-show="errors.has('Telefono')")
            i.fa.fa-exclamation-triangle {{ errors.first('Telefono') }}
    .col-12
      button.btn.btn-success.btn-blocky.float-right.btn-block.font-weight-bold.text-center(type="button", @click="nextStep('step_dos')") Siguiente&nbsp;
        i.fa.fa-chevron-right
</template>
<script>
export default {
  data() {
    return {
      meses: [],
      dias: [],
      nombreClienteEmision: '',
    }
  },
  watch: {},
  created() {
    this.llenarMeses()
    this.llenarDias()
    this.Nombre = this.$store.state.emision.Cliente.Nombre;
  },
  methods: {
    backStep: function(step) {
      for (var stepInArray in this.$store.state.config.steps) {
        if (step == stepInArray) {
          this.$store.state.config.steps[stepInArray] = true
        } else {
          this.$store.state.config.steps[stepInArray] = false
        }
      }
    },
    nextStep: function(step) {
      this.$validator.validateAll().then(result => {
        if (result) {
          for (var stepInArray in this.$store.state.config.steps) {
            if (step == stepInArray) {
              this.$store.state.config.steps[stepInArray] = true
            } else {
              this.$store.state.config.steps[stepInArray] = false
            }
          }
        }
      })
    },
    llenarMeses() {
      for (var i = 1; i <= 12; i++) {
        if (i < 10) {
          this.meses.push('0' + i)
        } else {
          this.meses.push(i)
        }
      }
    },
    llenarDias() {
      var numeroMesActual = new Date().getMonth() + 1
      var anioActual = new Date().getFullYear()
      var dias = 0

      if (
        numeroMesActual == 1 ||
        numeroMesActual == 3 ||
        numeroMesActual == 5 ||
        numeroMesActual == 7 ||
        numeroMesActual == 8 ||
        numeroMesActual == 10 ||
        numeroMesActual == 12
      )
        dias = 31
      else if (
        numeroMesActual == 4 ||
        numeroMesActual == 6 ||
        numeroMesActual == 9 ||
        numeroMesActual == 11
      )
        dias = 30
      else if (numeroMesActual == 2)
        if (
          (anioActual % 4 == 0 && anioActual % 100 != 0) ||
          anioActual % 400 == 0
        )
          dias = 29
        else dias = 28

      for (var i = 1; i <= dias; i++) {
        if (i < 10) {
          this.dias.push('0' + i)
        } else {
          this.dias.push(i)
        }
      }
    },
    onChangeMes(){
        //this.$store.state.config.AnioFechaNacimiento = (new Date().getFullYear()-this.$store.state.emision.Cliente.Edad)
        this.$store.state.emision.Cliente.FechaNacimiento = this.$store.state.config.DiaFechaNacimiento+'/'+this.$store.state.config.MesFechaNacimiento+'/'+this.$store.state.config.AnioFechaNacimiento
        this.calculaRFC()
    },
    onChangeDia(){
      //this.$store.state.config.AnioFechaNacimiento = (new Date().getFullYear()-this.$store.state.emision.Cliente.Edad)
      this.$store.state.emision.Cliente.FechaNacimiento = this.$store.state.config.DiaFechaNacimiento+'/'+this.$store.state.config.MesFechaNacimiento+'/'+this.$store.state.config.AnioFechaNacimiento
      this.calculaRFC()
    },
    onChangeAnio(){
          //this.$store.state.config.AnioFechaNacimiento = (new Date().getFullYear()-this.$store.state.emision.Cliente.Edad)
          this.$store.state.emision.Cliente.FechaNacimiento = this.$store.state.config.DiaFechaNacimiento+'/'+this.$store.state.config.MesFechaNacimiento+'/'+this.$store.state.config.AnioFechaNacimiento
          this.calculaRFC()
      },
    quitaArticulos(palabra) {
      return palabra.replace("DEL ", "").replace("LAS ", "").replace("DE ",
        "").replace("LA ", "").replace("Y ", "").replace("A ", "");
    },
    esVocal(letra) {
      if (letra == 'A' || letra == 'E' || letra == 'I' || letra == 'O'
        || letra == 'U' || letra == 'a' || letra == 'e' || letra == 'i'
        || letra == 'o' || letra == 'u')
        return true;
      else
        return false;
    },
    calculaRFC() {

      var nombre = this.$store.state.emision.Cliente.Nombre.toUpperCase();
      var apellidoPaterno = this.$store.state.emision.Cliente.ApellidoPat.toUpperCase();
      var apellidoMaterno = this.$store.state.emision.Cliente.ApellidoMat.toUpperCase();

      var rfc = "";

      apellidoPaterno = this.quitaArticulos(apellidoPaterno);
      apellidoMaterno = this.quitaArticulos(apellidoMaterno);

      rfc += apellidoPaterno.substr(0, 1);
      var l = apellidoPaterno.length;
      var c;
      for (var i = 0; i < l; i++) {
        c = apellidoPaterno.charAt(i);
        if (this.esVocal(c)) {
          rfc += c;
          break;
        }
      }
      var fecha = this.$store.state.emision.Cliente.FechaNacimiento;
      rfc += apellidoMaterno.substr(0, 1);
      rfc += nombre.substr(0, 1);
      rfc += fecha.substr(8, 10);
      rfc += fecha.substr(3, 5).substr(0, 2);
      rfc += fecha.substr(0, 2);
      this.$store.state.emision.Cliente.RFC=rfc+'000'
    },
    updateNombreCliente() {
      this.calculaRFC()
    },
    updateApellidoPatCliente(){
        this.calculaRFC()
    },
    updateApellidoMatCliente(){
      this.calculaRFC()
    }
  }
}
</script>