<template lang="pug">
    .container-fluid.fondo
        header-content
        .container.py-5
            .col-md-11
                h2 Resultado de su emision:
            br
            .col-md-11
                table.table
                    thead.thead-dark
                        tr
                            th(scope="col") # Seguimiento
                            th(scope="col") # Cotizacion
                            th(scope="col") # Poliza
                    tbody
                        tr
                            td {{this.$store.state.config.datosEmisionTerminal.numSeguimiento}}
                            td {{this.$store.state.config.datosEmisionTerminal.numCotizacion}}
                            td {{this.$store.state.config.datosEmisionTerminal.numPoliza}}
            .col-md-11.d-flex.justify-content-center
                a.btn.btn-success.btn-block.font-weight-bold(:href="this.$store.state.config.datosEmisionTerminal.documento", target="_blank") Descargar póliza - PDF
        footer-content
</template>
<script>

    //http://127.0.0.1:3200/thankyouTerminal/?idt=CIANNE190220012559&nCon=8788&Seg=674545&Pol=00000765456789&Res=1
    //http://127.0.0.1:3200/thankyouTerminal/?idt=CIANNE190325022314&nCon=8788&Seg=674545&Pol=314253162&Res=1 //ULTIMAS PRUEBAS
    //https://poliza.ahorraseguros.mx/thankyouTerminal/?idSolicitud=3649063&Aut=3&Liq=5702402&NAut=034875&TipOp=2&UDTar=5938&Bco=HSBC&TipTar=Tarjeta%20Credito
    import HeaderContent from '~/components/common/HeaderContent.vue'
    import FooterContent from '~/components/common/FooterContent.vue'
    import DerechosContent from '~/components/common/derechos.vue'
    import Loading from '~/components/Loading.vue'

    import wsFindEmision from '~/plugins/ws-find-emision'
    import wsFindEmisionIdSolicitud from '~/plugins/ws-find-emision-idSolicitud'
    import wsRegistro from '~/plugins/ws-save-registro'
    import wsPago from '~/plugins/ws-save-pago'
    import wsDatosPago from '~/plugins/ws-save-datos-pago'
    import descargaDocumento from '~/plugins/ws-downloadPDF'
    import wsGnpImpresion from '~/plugins/ws-get-url-gnp-imprecion'
    import moment from 'moment';
    import Swal from 'sweetalert2'

    export default {
        components: {
            HeaderContent,
            DerechosContent,
            FooterContent,
            Loading
        },
        created: function() {
            this.$store.state.config.isLoading=true

            /* ---------------SE VALIDA POR VARIBLE SEGUN LA URL --------------*/
            /*--------GNP-----------*/
            if(typeof this.$route.query.idt != 'undefined' ){

                /*Se valida que TERMINAL-GNP tenga 1=true como resultado de la terminal*/
                if(this.$route.query.Res != 1){

                    /*SE NOTIFICA DEL ERROR Y SE REDIRECCIONA...*/
                    var timerInterval
                    Swal.fire({
                        title: 'Oops...!',
                        html: 'Uno de nuestros ejecutivos se pondra en contacto con usted.',
                        timer: 5000,
                        onBeforeOpen: () => {},
                        onClose: () => {
                            // Simulate a mouse click:
                            window.location.href = this.$store.state.config.urlRedirectError;
                            clearInterval(timerInterval)
                        }
                    })

                }

                this.$store.state.config.datosEmisionTerminal.numSeguimiento=this.$route.query.Seg
                this.$store.state.config.datosEmisionTerminal.numCotizacion=this.$route.query.idt
                this.$store.state.config.datosEmisionTerminal.numPoliza=this.$route.query.Pol

                /* SE REALIZA LA BUSQUEDA DE LA EMICION POR IDT PARA GNP */
                wsFindEmision.findEmision(this.$route.query.idt)
                    .then(reser => {

                        this.$store.state.respuestaEmision = JSON.parse(reser.respuesta)
                        this.$store.state.emision = JSON.parse(reser.peticion)

                        /*se consume el ws para la imprecion del documento*/
                        wsGnpImpresion.search(this.$store.state.config.datosEmisionTerminal.numPoliza).then(respuestaGnpImprecion => {
                            this.$store.state.config.datosEmisionTerminal.documento = respuestaGnpImprecion
                            this.$store.state.respuestaEmision.Emision.Documento = respuestaGnpImprecion
                            this.$store.state.respuestaEmision.Emision.Poliza = this.$route.query.Pol

                            /* ------------------SE GUERDAN LOS DATOS DE LA EMISION----------------------*/
                            this.saveEmisionCRM(reser, false)
                        })
                    })

                this.$store.state.config.isLoading=false
                /*--------ABA-----------*/
            }else if(typeof this.$route.query.idSolicitud != 'undefined'){

                var idSolicitudEmision = this.$route.query.idSolicitud;
                idSolicitudEmision = idSolicitudEmision.split("?")

                wsFindEmisionIdSolicitud.findEmisionByIdSolicitud(idSolicitudEmision[0])
                    .then(wsRespuestaEmision => {

                        this.$store.state.respuestaEmision = JSON.parse(wsRespuestaEmision.respuesta)
                        this.$store.state.emision = JSON.parse(wsRespuestaEmision.peticion)

                        this.$store.state.config.datosEmisionTerminal.numSeguimiento = this.$route.query.Liq
                        this.$store.state.config.datosEmisionTerminal.numCotizacion = idSolicitudEmision[0]
                        this.$store.state.config.datosEmisionTerminal.numPoliza = this.$store.state.respuestaEmision.Emision.Poliza
                        this.$store.state.config.datosEmisionTerminal.documento = this.$store.state.respuestaEmision.Emision.Documento
                        /* ------------------SE GUERDAN LOS DATOS DE LA EMISION----------------------*/
                        this.saveEmisionCRM(wsRespuestaEmision, true)
                    })

            }


        },
        methods : {
            saveEmisionCRM: function(reser, saveDocumento) {

                /*VALIDAR QUE RESP TENGA DATOS Y QUE EL NUMERO DE POLIZA NO ESTE EN NULL*/
                this.$store.state.datosRegistroDb.registro.numPoliza = this.$store.state.respuestaEmision.Emision.Poliza
                this.$store.state.datosRegistroDb.registro.idAseguradora = reser.idAseguradora
                this.$store.state.datosRegistroDb.registro.idEjecutivo = 5131
                this.$store.state.datosRegistroDb.registro.numSerie = this.$store.state.emision.Vehiculo.NoSerie
                this.$store.state.datosRegistroDb.registro.numeroMotor = this.$store.state.emision.Vehiculo.NoMotor
                this.$store.state.datosRegistroDb.registro.numeroPlacas = this.$store.state.emision.Vehiculo.NoPlacas
                this.$store.state.datosRegistroDb.registro.primaNeta = this.$store.state.emision.Emision.PrimaNeta
                this.$store.state.datosRegistroDb.registro.primaTotal = this.$store.state.emision.Emision.PrimaTotal
                this.$store.state.datosRegistroDb.registro.clientePaterno = this.$store.state.emision.Cliente.ApellidoPat
                this.$store.state.datosRegistroDb.registro.clienteMaterno = this.$store.state.emision.Cliente.ApellidoMat
                this.$store.state.datosRegistroDb.registro.clienteNombre = this.$store.state.emision.Cliente.Nombre
                this.$store.state.datosRegistroDb.registro.clienteRfc = this.$store.state.emision.Cliente.RFC
                this.$store.state.datosRegistroDb.registro.clienteCp = this.$store.state.emision.Cliente.Direccion.CodPostal
                this.$store.state.datosRegistroDb.registro.clienteTelefono = this.$store.state.emision.Cliente.Telefono
                this.$store.state.datosRegistroDb.registro.clienteTelefonoOp = this.$store.state.emision.Cliente.Telefono
                this.$store.state.datosRegistroDb.registro.clienteCorreo = this.$store.state.emision.Cliente.Email
                this.$store.state.datosRegistroDb.registro.clienteCorreoOp = this.$store.state.emision.Cliente.Email
                this.$store.state.datosRegistroDb.registro.fechaNac = moment(this.$store.state.emision.Cliente.FechaNacimiento,'DD/MM/YYYY').format('YYYY-MM-DD')
                this.$store.state.datosRegistroDb.registro.clienteCalle = this.$store.state.emision.Cliente.Direccion.Calle
                this.$store.state.datosRegistroDb.registro.clienteEstado = this.$store.state.emision.Cliente.Poblacion
                this.$store.state.datosRegistroDb.registro.clienteDelgMun = this.$store.state.emision.Cliente.Ciudad
                this.$store.state.datosRegistroDb.registro.clienteNumInt = this.$store.state.emision.Cliente.Direccion.NoInt
                this.$store.state.datosRegistroDb.registro.clienteNumExt = this.$store.state.emision.Cliente.Direccion.NoExt
                this.$store.state.datosRegistroDb.registro.clienteColonia = this.$store.state.emision.Cliente.Direccion.Colonia
                this.$store.state.datosRegistroDb.registro.clienteGenero = this.$store.state.emision.Cliente.Genero.charAt(0)
                this.$store.state.datosRegistroDb.registro.idSolicitud = reser.idSolicitud
                this.$store.state.datosRegistroDb.registro.anio = this.$store.state.emision.Vehiculo.Modelo
                this.$store.state.datosRegistroDb.registro.marca = this.$store.state.emision.Vehiculo.Marca
                this.$store.state.datosRegistroDb.registro.submarca = this.$store.state.emision.Vehiculo.Descripcion
                this.$store.state.datosRegistroDb.registro.idMarcaCliente = 6065
                this.$store.state.datosRegistroDb.registro.idSubmarcaCliente = 1808111
                this.$store.state.datosRegistroDb.registro.idDatosInspeccion = 11



                /*DATOS PAGO*/
                this.$store.state.datosRegistroDb.datosPago.referencia = "Emitido y Cobrado desde WS"
                this.$store.state.datosRegistroDb.datosPago.numAutorizacion = ""
                this.$store.state.datosRegistroDb.datosPago.numeroDeTarjeta = ""
                this.$store.state.datosRegistroDb.datosPago.vencimiento = "0000-00-00"
                this.$store.state.datosRegistroDb.datosPago.titular = ""
                this.$store.state.datosRegistroDb.datosPago.codigoSeg = ""
                this.$store.state.datosRegistroDb.datosPago.idCarrier = ""
                this.$store.state.datosRegistroDb.datosPago.carrier = ""
                this.$store.state.datosRegistroDb.datosPago.meses = 1
                this.$store.state.datosRegistroDb.datosPago.idMetodoPago = 5
                this.$store.state.datosRegistroDb.datosPago.idBanco = 15
                this.$store.state.datosRegistroDb.datosPago.bancoAbreviacion = ""
                this.$store.state.datosRegistroDb.datosPago.idTipoTDC = 0

                /*SE ALMACENAN LOS DATOS DE LA EMISION EN LA BASE DE DATOS*/
                wsRegistro.saveRegistro(JSON.stringify(this.$store.state.datosRegistroDb.registro))
                    .then(respr => {
                        console.log("SAVE - REGISTRO");
                        /*VALIDAR QUE SE INSERTE CORRECTAMENTE LA POLIZA EN LA TABLA REGISTRO*/
                        wsDatosPago.saveDatosPago(JSON.stringify(this.$store.state.datosRegistroDb.datosPago))
                            .then(respdp => {
                                console.log("SAVE - DATOSPAGO");
                                /*PAGO*/
                                this.$store.state.datosRegistroDb.pago.cantidad = this.$store.state.emision.Cotizacion.PrimaTotal
                                this.$store.state.datosRegistroDb.pago.archivo = ""
                                this.$store.state.datosRegistroDb.pago.aplicado = 1
                                this.$store.state.datosRegistroDb.pago.corregido = 0
                                this.$store.state.datosRegistroDb.pago.mesaControl = null
                                this.$store.state.datosRegistroDb.pago.comentarios = "Pago registrado automáticamente mediante WS"
                                this.$store.state.datosRegistroDb.pago.seriePago = 1
                                this.$store.state.datosRegistroDb.pago.idEjecutivo = 5131
                                this.$store.state.datosRegistroDb.pago.idDatosPago = respdp.idDatosPago
                                this.$store.state.datosRegistroDb.pago.numPoliza = this.$store.state.respuestaEmision.Emision.Poliza
                                this.$store.state.datosRegistroDb.pago.idAseguradora = reser.idAseguradora
                                this.$store.state.datosRegistroDb.pago.idEstadoNomina = 2

                                wsPago.savePago(JSON.stringify(this.$store.state.datosRegistroDb.pago))
                                    .then(respp => {
                                        console.log("SAVE - PAGO");
                                        this.$store.state.config.isLoading=false

                                        //SE GUARDA EL DOCUMENTO
                                        console.log("PROCESANDO EL PDF...");
                                        switch (this.$store.state.emision.Aseguradora) {
                                            case "GNP":
                                                try{
                                                    descargaDocumento.downloadFilePDF(this.$store.state.respuestaEmision.Emision.Poliza, this.$store.state.respuestaEmision.Emision.Documento, this.$store.state.emision.Aseguradora.replace("2",""), "1111111111");
                                                }catch(error) {
                                                    console.error(error);
                                                }
                                                break;
                                            default:
                                                try{
                                                    descargaDocumento.downloadFilePDF(this.$store.state.respuestaEmision.Emision.Poliza, this.$store.state.respuestaEmision.Emision.Documento, this.$store.state.emision.Aseguradora.replace("2",""), "1111111111");
                                                }catch(error) {
                                                    console.error(error);
                                                }
                                        }

                                    }).catch(error =>{
                                    console.log("ERROR AL GUARDAR EL PAGO");
                                    console.log(error);
                                })
                            }).catch(error =>{
                            console.log("ERROR AL GUARDAR EN DATOS-PAGO");
                            console.log(error);
                        })
                    }).catch(error =>{
                    console.log("ERROR AL GUARDAR EN REGISTRO");
                    console.log(error);
                })

            },
        }

    }
</script>
